.dashboard{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

/* MAIN CARD */

.dashboard-card{
    background:#2a2828;
    border-radius:24px;
    padding:25px;

    display:flex;
    gap:20px;

    width:100%;
}

/* LEFT + RIGHT SIDE */

.popular-items,
.past-rental{
    flex:1;
    background:#1f1f1f;
    border-radius:18px;
    padding:20px;

    display:flex;
    flex-direction:column;
}

/* POPULAR ITEMS */

.popular-items{
    align-items:center;
    justify-content:center;
    text-align:center;
}

.popular-image{
    width:220px;
    height:220px;

    background:#ede9e9;
    border-radius:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:20px 0;
}
.popular-image img{
  width: 180px ;
  height: 200px;
}

/* TABLE */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,
td{
    padding:12px;
    text-align:left;
}

th{
    background:#333;
}

tr{
    border-bottom:1px solid rgba(255,255,255,0.08);
}
.button-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.rent-now{
  color: black;
  width: fit-content;
  background-color: rgb(49, 46, 129);
  padding: 20px 20px;
  border-radius: 20px;
  text-align: center;

}
.rent-now a{
  color: black;
  text-decoration: none;
}
.rent-now a:hover{
  color: white;
  text-decoration: none;
}